Repository hjbugajski/marco-santana-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

.lintstagedrc.json:

{
  "**/*.js": "eslint --ignore-path .gitignore",
  "**/*.scss": "stylelint --ignore-path .gitignore",
  "*": "prettier --write --ignore-unknown --ignore-path .gitignore"
}

chore: migrate to scss, run prettier, fix lint errors
  app/globals.scss
  app/head.tsx
  app/layout.tsx
  app/page.module.scss
  app/page.tsx
  next.config.js
  pages/api/hello.ts
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: add and update dependencies
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update configs
  next.config.js
  tsconfig.json
Due: eslint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dev tools
  .eslintrc.json
  .gitignore
  .stylelintrc.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: add joinClassNames utility
  src/utilities/index.ts
  src/utilities/join-class-names.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: add root styles
  src/scss/_accessibility.scss
  src/scss/_colors.scss
  src/scss/_text.scss
  src/scss/_variables.scss
  src/scss/app.scss
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

feat: add interfaces
  src/interfaces/base-props.ts
  src/interfaces/blocks-props.ts
  src/interfaces/index.ts
  src/interfaces/page-props.ts
  src/interfaces/pages-props.ts
  src/interfaces/payload.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: add graphql queries and functions
  src/graphql/blocks.ts
  src/graphql/gloabls.ts
  src/graphql/index.ts
  src/graphql/link.ts
  src/graphql/pages.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: add Button component
  src/components/Button.scss
  src/components/Button.tsx
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

feat: add assets
  src/assets/icon-arrow-right.tsx
  src/assets/index.ts
  src/assets/instagram-logo.tsx
  src/assets/marco-santana-logo.tsx
  src/assets/ms-logo.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: add Footer component
  src/components/Footer.module.scss
  src/components/Footer.tsx
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

feat: add Nav component
  src/components/Nav.module.scss
  src/components/Nav.tsx
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

feat: add Blocks components
  src/components/Blocks/ContentBlock.module.scss
  src/components/Blocks/ContentBlock.tsx
  src/components/Blocks/HomeBlock.module.scss
  src/components/Blocks/HomeBlock.tsx
  src/components/Blocks/PhotoSectionBlock.module.scss
  src/components/Blocks/PhotoSectionBlock.tsx
  src/components/Blocks/index.tsx
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

feat: add app layout and pages
  app/globals.scss
  app/head.tsx
  app/layout.tsx
  app/page.module.scss
  app/page.tsx
  pages/api/hello.ts
  public/favicon.ico
  public/vercel.svg
  src/app/[...slug]/head.tsx
  src/app/[...slug]/not-found.tsx
  src/app/[...slug]/page.module.scss
  src/app/[...slug]/page.tsx
  src/app/head.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

feat: use preview image instead of full size image
  src/components/Blocks/PhotoSectionBlock.tsx
  src/graphql/blocks.ts
  src/interfaces/payload.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: add Serialize component
  src/components/Serialize.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: add NotFound component
  src/components/NotFound.module.scss
  src/components/NotFound.tsx
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

fix: update remote image pattern hostname
  next.config.js
Due: eslint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: add commit-and-tag-version
  .versionrc.json
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore(release): 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependenecies
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update stylelint and fix lint errors
  .stylelintrc.json
  src/components/Button.scss
  src/scss/app.scss
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore(release): 1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fix: remove head file in favor of generateMetadata
  src/app/[...slug]/head.tsx
  src/app/[...slug]/page.tsx
  src/app/layout.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fix: relocate favicon
  src/app/favicon.ico
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fix: add flex to page container
  src/app/[...slug]/page.module.scss
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore(release): 1.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fix: remove header and update metadata
  src/app/[...slug]/page.tsx
  src/app/head.tsx
  src/app/layout.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore(release): 1.0.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: switch to pnpm
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies
  .commitlintrc.json
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .versionrc.json
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: nextjs updates
  next.config.js
  src/graphql/index.ts
  tsconfig.json
Due: eslint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore
